@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--clr-white);
}

:root {
    --clr-dark:	#211b15;
    --clr-gold:#d4af37;
    --clr-white:#fffff2;
    --clr-hover:#d4af37af;
}

.title {
    text-align: center;
    font-size: clamp(1rem, 2vw + 1rem, 2rem );
    font-weight: 500;
    text-transform: uppercase;
    margin: 1rem 0;
}




